{% extends 'base.html' %}

{% block title %}{{ tag.name }}{% endblock %}}

{% block content %}

<div class="row">

  <div class="col-sm-10 col-12">
    <h1>{{ tag.name }}</h1>

    <ul>
      {% for post in tag.posts %}
      <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

    <form>
      <button formmethod="GET"
              formaction="/tags/{{ tag.id }}/edit"
              class="btn btn-primary">Edit
      </button>
      <button formmethod="POST"
              formaction="/tags/{{ tag.id }}/delete"
              class="btn btn-danger">Delete
      </button>
      <button class="btn btn-success btn-sm"
              formaction="/users"
              formmethod="GET">Go Back
      </button>
    </form>

    <h2 class="mt-4">Posts</h2>

    <p><a href="/tags/new" class="btn btn-primary">Add Tag</a></p>

  </div>
</div>

{% endblock %}